<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter activeByDefault="false"
          name="Non-SonarQube projects"
          description="Hides all projects without SonarQube nature"
          id="org.python.pydev.navigator.filters.HideNonSonarProjects"
          class="org.sonar.ide.eclipse.ui.NonSonarProjectsFilter">
      </commonFilter>
   </extension>

   <extension
         point="org.sonar.ide.eclipse.core.projectConfigurators">
      <configurator
            class="org.sonar.ide.eclipse.pydev.internal.PythonProjectConfigurator">
      </configurator>
   </extension>
</plugin>
