<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <content-type id="cobol" name="Cobol Source File"
       base-type="org.eclipse.jdt.core.javaSource"      
       file-extensions="cbl">
      </content-type> 
   </extension>
   <extension
         point="org.sonarlint.eclipse.core.projectAdapterParticipant">
      <participant
            class="org.sonarlint.eclipse.core.internal.adapter.DefaultSonarLintAdapterFactoryTest$CobolSLProjectParticipant">
      </participant>
   </extension>
   <extension
         point="org.sonarlint.eclipse.core.fileAdapterParticipant">
      <participant
            class="org.sonarlint.eclipse.core.internal.adapter.DefaultSonarLintAdapterFactoryTest$CobolSLFileAdapterParticipant">
      </participant>
   </extension>
   <extension
         id="testNotification"
         name="Test Notification"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.sonarlint.eclipse.core.tests.sampleToolbar"
               label="Test">
            <command
                  commandId="org.sonarlint.eclipse.core.tests.openNotification"
                  label="Open Notification"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.sonarlint.eclipse.core.tests.openNotification"
            name="Open Notif">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.sonarlint.eclipse.core.tests.OpenNotification"
            commandId="org.sonarlint.eclipse.core.tests.openNotification">
      </handler>
   </extension> 
</plugin>
