<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Extension points -->

   <extension-point id="resolver" name="sonar resolver" schema="schema/org.sonar.ide.eclipse.markers.resolver.exsd"/>

<!-- Extensions -->

  <extension point="org.eclipse.ui.preferencePages">
    <page
        class="org.sonar.ide.eclipse.ui.internal.preferences.SonarPreferencePage"
        id="org.sonar.ide.eclipse.ui.preferences.SonarPreferencePage"
        name="%sonar.preference.page.name">
        <keywordReference id="org.sonar.ide.eclipse.ui.SonarKeyword"/>
    </page>
    <page
          category="org.sonar.ide.eclipse.ui.preferences.SonarPreferencePage"
          class="org.sonar.ide.eclipse.ui.internal.preferences.SonarServerPreferencePage"
          id="org.sonar.ide.eclipse.ui.preferences.SonarServerPreferencePage"
          name="%sonar.preference.servers.page.name">
          <keywordReference id="org.sonar.ide.eclipse.ui.SonarKeyword"/>
    </page>
    <page
          category="org.sonar.ide.eclipse.ui.preferences.SonarPreferencePage"
          class="org.sonar.ide.eclipse.ui.internal.properties.SonarExtraArgumentsPreferenceAndPropertyPage"
          id="org.sonar.ide.eclipse.ui.properties.SonarExtraArgumentsPreferenceAndPropertyPage"
          name="%sonar.preference.extraProps.page.name">
          <keywordReference id="org.sonar.ide.eclipse.ui.SonarKeyword"/>
    </page>
  </extension>

  <extension
     point="org.eclipse.ui.keywords">
    <keyword
            label="sonar sonarqube"
            id="org.sonar.ide.eclipse.ui.SonarKeyword"/>
   </extension>

  <extension point="org.eclipse.ui.views">
    <category
        name="%sonar.category.view.name"
        id="org.sonar.ide.eclipse">
    </category>
    <view
        category="org.sonar.ide.eclipse"
        class="org.sonar.ide.eclipse.ui.internal.views.issues.IssuesView"
        icon="icons/onde-sonar-16.png"
        id="org.sonar.ide.eclipse.ui.views.issues.IssuesView"
        name="%sonar.issues.view.name">
    </view>
    <view
          category="org.sonar.ide.eclipse"
          class="org.sonar.ide.eclipse.ui.internal.views.RuleDescriptionWebView"
          icon="icons/onde-sonar-16.png"
          id="org.sonar.ide.eclipse.ui.views.RuleDescriptionWebView"
          name="SonarQube Rule Description">
    </view>
  </extension>

  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <commonFilter
        class="org.sonar.ide.eclipse.ui.NonSonarProjectsFilter"
        description="Hides all projects without SonarQube nature"
        id="org.sonar.ide.eclipse.ui.filters.HideNonSonarProjects"
        name="Non-SonarQube projects"
        activeByDefault="false">
    </commonFilter>
  </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.sonar.ide.eclipse.ui.filters.HideNonSonarProjects">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.sonar.ide.eclipse.ui.views.issues.IssuesView">
         <menu
           id="org.eclipse.ui.ide.problems.filtersMenu"
           label="Show"
           mnemonic="S">
         </menu>
     <menu
           id="problemsGroupByMenu"
           label="Group By"
           mnemonic="G">
         </menu>
         <menu
               id="org.eclipse.ui.ide.problems.markerSortMenu"
               label="Sort By"
               mnemonic="S">
         </menu>
         <command
               commandId="org.eclipse.ui.ide.configureFilters"
               mnemonic="%command.configureFilters.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.ide.configureColumns"
               mnemonic="%command.configureColumns.mnemonic"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.sonar.ide.eclipse.ui.views.issues.IssuesView">
           <command
                 commandId="org.sonar.ide.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
                 style="push"
                 mnemonic="R">
         </command>
      </menuContribution>
  </extension>

  <extension
      point="org.eclipse.ui.ide.markerSupport">
    <markerContentGenerator
         id="org.sonar.ide.eclipse.ui.views.issues.issueMarkerGenerator"
         defaultMarkerGrouping="org.sonar.ide.eclipse.ui.issues.severityGrouping"
         name="SonarQube Issue Marker Generator">
        <markerTypeReference
              id="org.sonar.ide.eclipse.core.sonarProblem"/>
        <markerTypeReference
              id="org.sonar.ide.eclipse.core.sonarProblemNewIssue"/>
        <markerFieldReference
              id="org.sonar.ide.eclipse.ui.views.issues.issueDescriptionField"
              visible="true"/>
        <markerFieldReference
              id="org.sonar.ide.eclipse.ui.views.issues.issueRuleKeyField"
              visible="false"/>
        <markerFieldReference
              id="org.sonar.ide.eclipse.ui.views.issues.issueAssigneeField"
              visible="true"/>
        <markerFieldReference
              id="org.sonar.ide.eclipse.ui.views.issues.issueRuleNameField"
              visible="false"/>
        <markerFieldReference
              id="org.eclipse.ui.ide.resourceField"
              visible="true"/>
        <markerFieldReference
              id="org.sonar.ide.eclipse.ui.views.issues.issueIsNewField"
              visible="true"/>
        <markerFieldReference
              id="org.eclipse.ui.ide.pathField"
              visible="false"/>
        <!-- Default Filtering -->
        <markerFieldConfiguration
              enabled="true"
              id="org.sonar.ide.eclipse.ui.issues.allIssuesOnSelectionFiltering"
              name="All Issues on Selection"
              scope="ON_SELECTED_AND_CHILDREN">
        </markerFieldConfiguration>
        <markerFieldConfiguration
              enabled="false"
              id="org.sonar.ide.eclipse.ui.issues.allNewIssuesOnSelectionFiltering"
              name="All New Issues on Selection"
              scope="ON_SELECTED_AND_CHILDREN"
              values="org.sonar.ide.eclipse.ui.internal.views.issues.SelectedNewIssuesParameters">
        </markerFieldConfiguration>

        <markerGrouping
            id="org.sonar.ide.eclipse.ui.issues.newGrouping"
            label="Issue type (new/other)">
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.newGrouping.new"
               label="New issues"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.newGrouping"
               priority="2">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.newGrouping.other"
               label="Other issues"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.newGrouping"
               priority="1">
         </markerGroupingEntry>
         <markerAttributeGrouping
               attribute="isnew"
               markerType="org.sonar.ide.eclipse.core.sonarProblem">
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.newGrouping.new"
                  value="true">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.newGrouping.other"
                  value="false">
            </markerAttributeMapping>
         </markerAttributeGrouping>
      </markerGrouping>
      <markerGrouping
            id="org.sonar.ide.eclipse.ui.issues.severityGrouping"
            label="Severity">
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.severityGrouping.blocker"
               label="Blocker"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.severityGrouping"
               priority="5">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.severityGrouping.critical"
               label="Critical"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.severityGrouping"
               priority="4">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.severityGrouping.major"
               label="Major"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.severityGrouping"
               priority="3">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.severityGrouping.minor"
               label="Minor"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.severityGrouping"
               priority="2">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonar.ide.eclipse.ui.issues.severityGrouping.info"
               label="Info"
               markerGrouping="org.sonar.ide.eclipse.ui.issues.severityGrouping"
               priority="1">
         </markerGroupingEntry>
         <markerAttributeGrouping
               attribute="sonarseverity"
               markerType="org.sonar.ide.eclipse.core.sonarProblem">
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.severityGrouping.blocker"
                  value="BLOCKER">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.severityGrouping.critical"
                  value="CRITICAL">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.severityGrouping.major"
                  value="MAJOR">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.severityGrouping.minor"
                  value="MINOR">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonar.ide.eclipse.ui.issues.severityGrouping.info"
                  value="INFO">
            </markerAttributeMapping>
         </markerAttributeGrouping>
      </markerGrouping>
    </markerContentGenerator>
    <markerField
        class="org.sonar.ide.eclipse.ui.internal.views.issues.IssueDescriptionField"
        filterClass="org.eclipse.ui.internal.views.markers.DescriptionFieldFilter"
        filterConfigurationClass="org.eclipse.ui.internal.views.markers.DescriptionConfigurationArea"
        id="org.sonar.ide.eclipse.ui.views.issues.issueDescriptionField"
        name="Description">
    </markerField>
    <markerField
        class="org.sonar.ide.eclipse.ui.internal.views.issues.IssueRuleNameField"
        id="org.sonar.ide.eclipse.ui.views.issues.issueRuleNameField"
        name="Rule name">
    </markerField>
    <markerField
        class="org.sonar.ide.eclipse.ui.internal.views.issues.IssueAssigneeField"
        id="org.sonar.ide.eclipse.ui.views.issues.issueAssigneeField"
        filterClass="org.sonar.ide.eclipse.ui.internal.views.issues.AssigneeFieldFilter"
        filterConfigurationClass="org.sonar.ide.eclipse.ui.internal.views.issues.AssigneeConfigurationArea"
        name="Assignee">
    </markerField>
    <markerField
        class="org.sonar.ide.eclipse.ui.internal.views.issues.IssueRuleKeyField"
        id="org.sonar.ide.eclipse.ui.views.issues.issueRuleKeyField"
        name="%sonar.issues.view.rulekeyfield">
    </markerField>
    <markerField
        class="org.sonar.ide.eclipse.ui.internal.views.issues.IssueIsNewField"
        id="org.sonar.ide.eclipse.ui.views.issues.issueIsNewField"
        filterClass="org.sonar.ide.eclipse.ui.internal.views.issues.IsNewIssueFieldFilter"
        filterConfigurationClass="org.sonar.ide.eclipse.ui.internal.views.issues.IsNewIssueConfigurationArea"
        name="%sonar.issues.view.isnewfield">
    </markerField>

    <markerTypeCategory
          name="Sonar">
       <markerTypeReference id="org.sonar.ide.eclipse.core.sonarProblemNewIssue">
       </markerTypeReference>
       <markerTypeReference id="org.sonar.ide.eclipse.core.sonarProblem">
       </markerTypeReference>
    </markerTypeCategory>
  </extension>

  <extension point="org.eclipse.ui.newWizards">
    <category id="org.sonar.ide.eclipse.ui.wizcat" name="%sonar.category.wizard.name"/>
    <wizard
        canFinishEarly="true"
        category="org.sonar.ide.eclipse.wizcat"
        class="org.sonar.ide.eclipse.ui.internal.wizards.NewServerLocationWizard"
        icon="icons/onde-sonar-16.png"
        id="org.sonar.ide.eclipse.ui.wizards.newserverlocationwizard"
        name="%sonar.wizard.newserverlocation.name ">
    </wizard>
  </extension>

  <extension
      point="org.eclipse.ui.propertyPages">
    <page
      class="org.sonar.ide.eclipse.ui.internal.properties.SonarProjectPropertyPage"
       id="org.sonar.ide.eclipse.ui.properties.sonarProjectPropertyPage"
       name="%sonar.properties.page.name">
       <filter name="projectNature" value="org.sonar.ide.eclipse.core.sonarNature"/>
       <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject"/>
       </enabledWhen>
    </page>
    <page
      class="org.sonar.ide.eclipse.ui.internal.properties.SonarExtraArgumentsPreferenceAndPropertyPage"
       id="org.sonar.ide.eclipse.ui.properties.SonarExtraArgumentsPreferenceAndPropertyPage"
       category="org.sonar.ide.eclipse.ui.properties.sonarProjectPropertyPage"
       name="%sonar.preference.extraProps.page.name">
       <filter name="projectNature" value="org.sonar.ide.eclipse.core.sonarNature"/>
       <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject"/>
       </enabledWhen>
    </page>
  </extension>

  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution id="org.sonar.ide.eclipse.ui.projectContributions"
                        adaptable="true"
                        objectClass="org.eclipse.core.resources.IProject">
        <visibility>
           <objectState name="nature" value="org.sonar.ide.eclipse.core.sonarNature"/>
        </visibility>
        <action id="org.sonar.ide.eclipse.addRemoveNatureAction"
              class="org.sonar.ide.eclipse.ui.internal.actions.ToggleNatureAction"
              enablesFor="+"
              label="Remove SonarQube Nature"
              menubarPath="sonar.menu/group3">
        </action>
    </objectContribution>
    <objectContribution
           id="org.sonar.ide.eclipse.ui.fileContributions"
           objectClass="org.sonar.ide.eclipse.core.resources.ISonarFile"
           adaptable="true">
        <action
              label="SonarQube server"
              enablesFor="1"
              class="org.sonar.ide.eclipse.ui.internal.compare.CompareWithSonarAction"
              menubarPath="compareWithMenu/compareWithGroup"
              id="org.sonar.ide.eclipse.compareWithSonar"
              icon="icons/onde-sonar-16.png">
        </action>
    </objectContribution>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:sonar.menu?after=group1">
       <command
             commandId="org.sonar.ide.eclipse.ui.internal.command.AnalyzeProjectsCommand"
             style="push">
          <visibleWhen>
             <with variable="activeMenuSelection">
                <iterate ifEmpty="false">
                  <or>
                    <adapt type="org.eclipse.core.resources.IProject">
                      <test property="org.eclipse.core.resources.projectNature" value="org.sonar.ide.eclipse.core.sonarNature"/>
                    </adapt>
                    <adapt type="org.eclipse.ui.IWorkingSet" />
                  </or>
                </iterate>
             </with>
          </visibleWhen>
       </command>
       <command
             commandId="org.sonar.ide.eclipse.ui.internal.command.ReConfigureProjectsCommand"
             style="push">
          <visibleWhen>
              <with variable="activeMenuSelection">
                 <iterate ifEmpty="false">
                  <adapt type="org.eclipse.core.resources.IProject">
                      <test property="org.eclipse.core.resources.projectNature" value="org.sonar.ide.eclipse.core.sonarNature"/>
                  </adapt>
                 </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <category
          description="SonarQube commands"
          id="org.sonar.ide.eclipse.ui.command.category"
          name="SonarQube">
    </category>
    <command
          description="Open SonarQube association wizard"
          id="org.sonar.ide.eclipse.ui.command.ConfigureProjectsCommand"
          name="Associate with SonarQube..."
          categoryId="org.sonar.ide.eclipse.ui.command.category">
    </command>
    <command
          description="Open SonarQube association wizard"
          id="org.sonar.ide.eclipse.ui.internal.command.ReConfigureProjectsCommand"
          name="Change Project Association..."
          categoryId="org.sonar.ide.eclipse.ui.command.category">
    </command>
    <command
          description="Show rule details"
          id="org.sonar.ide.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
          name="Rule description"
          categoryId="org.sonar.ide.eclipse.ui.command.category">
    </command>
    <command
          description="Analyze project with SonarQube"
          id="org.sonar.ide.eclipse.ui.internal.command.AnalyzeProjectsCommand"
          name="Analyze"
          categoryId="org.sonar.ide.eclipse.ui.command.category">
    </command>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
          class="org.sonar.ide.eclipse.ui.internal.command.ConfigureProjectsCommand"
          commandId="org.sonar.ide.eclipse.ui.command.ConfigureProjectsCommand">
    </handler>
    <handler
          class="org.sonar.ide.eclipse.ui.internal.command.ConfigureProjectsCommand"
          commandId="org.sonar.ide.eclipse.ui.internal.command.ReConfigureProjectsCommand">
    </handler>
    <handler
          class="org.sonar.ide.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
          commandId="org.sonar.ide.eclipse.ui.internal.command.ShowRuleDescriptionCommand">
    </handler>
    <handler
          class="org.sonar.ide.eclipse.ui.internal.command.AnalyzeProjectsCommand"
          commandId="org.sonar.ide.eclipse.ui.internal.command.AnalyzeProjectsCommand">
    </handler>
  </extension>

  <extension point="org.eclipse.ui.commandImages">
    <image
      commandId="org.sonar.ide.eclipse.ui.command.ConfigureProjectsCommand"
      icon="icons/onde-sonar-16.png" />
    <image
      commandId="org.sonar.ide.eclipse.ui.internal.command.ReConfigureProjectsCommand"
      icon="icons/onde-sonar-16.png" />
    <image
      commandId="org.sonar.ide.eclipse.ui.internal.command.AnalyzeProjectsCommand"
      icon="icons/refresh.gif" />
  </extension>

   <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="org.sonar.ide.eclipse.issueAnnotationType"
            markerType="org.sonar.ide.eclipse.core.sonarProblem"/>
        <type
            name="org.sonar.ide.eclipse.newIssueAnnotationType"
            markerType="org.sonar.ide.eclipse.core.sonarProblemNewIssue"/>
    </extension>

    <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
              annotationImageProvider="org.sonar.ide.eclipse.ui.internal.markers.SonarMarkerImageProvider"
              annotationType="org.sonar.ide.eclipse.issueAnnotationType"
              colorPreferenceKey="org.sonar.ide.eclipse.ui.issue.color"
              colorPreferenceValue="255,246,191"
              highlightPreferenceKey="org.sonar.ide.eclipse.ui.issue.highlight"
              highlightPreferenceValue="false"
              icon="icons/onde-sonar-16.png"
              isGoToNextNavigationTarget="true"
              isGoToNextNavigationTargetKey="org.sonar.ide.eclipse.issue.next"
              isGoToPreviousNavigationTarget="true"
              isGoToPreviousNavigationTargetKey="org.sonar.ide.eclipse.issue.previous"
              label="%sonar.marker.specification.label"
              overviewRulerPreferenceKey="org.sonar.ide.eclipse.ui.issue.overviewruler"
              overviewRulerPreferenceValue="true"
              presentationLayer="3"
              showInNextPrevDropdownToolbarAction="true"
              showInNextPrevDropdownToolbarActionKey="org.sonar.ide.eclipse.issue.dropdown"
              textPreferenceKey="org.sonar.ide.eclipse.ui.issue.error.text"
              textPreferenceValue="true"
              textStylePreferenceKey="org.sonar.ide.eclipse.ui.issue.text.style"
              textStylePreferenceValue="SQUIGGLES"
              verticalRulerPreferenceKey="org.sonar.ide.eclipse.ui.issue.verticalruler"
              verticalRulerPreferenceValue="true"/>

        <specification
              annotationImageProvider="org.sonar.ide.eclipse.ui.internal.markers.SonarNewIssueMarkerImageProvider"
              annotationType="org.sonar.ide.eclipse.newIssueAnnotationType"
              colorPreferenceKey="org.sonar.ide.eclipse.ui.newissue.color"
              colorPreferenceValue="255,246,191"
              highlightPreferenceKey="org.sonar.ide.eclipse.ui.newissue.highlight"
              highlightPreferenceValue="true"
              icon="icons/onde-sonar-16.png"
              isGoToNextNavigationTarget="true"
              isGoToNextNavigationTargetKey="org.sonar.ide.eclipse.newissue.next"
              isGoToPreviousNavigationTarget="true"
              isGoToPreviousNavigationTargetKey="org.sonar.ide.eclipse.newissue.previous"
              label="%sonar.new.issue.marker.specification.label"
              overviewRulerPreferenceKey="org.sonar.ide.eclipse.ui.newissue.overviewruler"
              overviewRulerPreferenceValue="true"
              presentationLayer="4"
              showInNextPrevDropdownToolbarAction="true"
              showInNextPrevDropdownToolbarActionKey="org.sonar.ide.eclipse.newissue.dropdown"
              textPreferenceKey="org.sonar.ide.eclipse.ui.newissue.error.text"
              textPreferenceValue="true"
              textStylePreferenceKey="org.sonar.ide.eclipse.ui.newissue.text.style"
              textStylePreferenceValue="BOX"
              verticalRulerPreferenceKey="org.sonar.ide.eclipse.ui.newissue.verticalruler"
              verticalRulerPreferenceValue="true"/>
    </extension>


  <!-- Welcome -->
  <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/overview.xml"/>
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/whatsnew.xml"/>
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/tutorials.xml"/>
  </extension>

  <!-- Marker resolver -->
  <extension
        point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator
           class="org.sonar.ide.eclipse.ui.internal.markers.SonarMarkerResolutionGenerator"
           markerType="org.sonar.ide.eclipse.core.sonarProblem">
     </markerResolutionGenerator>
     <markerResolutionGenerator
           class="org.sonar.ide.eclipse.ui.internal.markers.SonarMarkerResolutionGenerator"
           markerType="org.sonar.ide.eclipse.core.sonarProblemNewIssue">
     </markerResolutionGenerator>
  </extension>

  <extension
        point="org.sonar.ide.eclipse.ui.resolver">
     <resolver
           class="org.sonar.ide.eclipse.ui.internal.markers.IgnoreMarkerResolver">
     </resolver>
  </extension>

  <!-- Quick diff -->
  <extension
        point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
     <referenceprovider
            label="SonarQube source"
           class="org.sonar.ide.eclipse.ui.internal.compare.SonarReferenceProvider"
           id="org.sonar.ide.eclipse.referenceprovider">
     </referenceprovider>
  </extension>

  <extension
        point="org.eclipse.ui.console.consoleFactories">
     <consoleFactory
           class="org.sonar.ide.eclipse.ui.internal.console.SonarConsoleFactory"
           icon="icons/onde-sonar-16.png"
           label="%consoleFactory.label">
     </consoleFactory>
  </extension>

  <extension
        point="org.eclipse.ui.console.consolePageParticipants">
     <consolePageParticipant
           class="org.sonar.ide.eclipse.ui.internal.console.SonarConsolePageParticipant"
           id="org.sonar.ide.eclipse.ui.consolePageParticipant1">
        <enablement>
           <instanceof value="org.sonar.ide.eclipse.ui.internal.console.SonarConsole" />
        </enablement>
     </consolePageParticipant>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              icon="icons/onde-sonar-16.png"
              id="sonar.menu"
              label="%sonar.menu.label">
           <separator
                 name="group1">
           </separator>
           <menu
                 id="mode"
                 label="Mode">
              <separator
                    name="group1">
              </separator>
           </menu>
           <separator
                 name="group2">
           </separator>
           <separator
                 name="group3"
                 visible="true">
           </separator>
        </menu>
     </menuContribution>
  </extension>

  <!-- Label decorator -->
  <extension point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           icon="icons/sonar-label-decorator.gif"
           id="org.sonar.ide.eclipse.ui.sonarDecorator"
           label="%sonar.decorator.name"
           lightweight="true"
           location="TOP_RIGHT"
           state="true">
       <description>%sonar.decorator.description</description>
       <enablement>
         <objectState name="nature" value="org.sonar.ide.eclipse.core.sonarNature"/>
       </enablement>
     </decorator>

    <decorator id="org.sonar.ide.eclipse.ui.analysisDateDecorator"
                adaptable="true"
                label="%sonar.decorator.analysisDate.name"
                lightweight="false"
                class="org.sonar.ide.eclipse.ui.internal.decorator.SonarAnalysisDateDecorator"
                state="false">
       <description>%sonar.decorator.analysisDate.description</description>
       <enablement>
         <objectState name="nature" value="org.sonar.ide.eclipse.core.sonarNature"/>
       </enablement>
    </decorator>
  </extension>


   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            class="org.sonar.ide.eclipse.ui.NonSonarProjectsFilter"
            id="org.sonar.ide.eclipse.ui.HideNonSonarProjects"
            name="Non-SonarQube projects"
            description="Hides all projects without SonarQube nature"
            activeByDefault="false">
      </commonFilter>
   </extension>

   <extension point="org.eclipse.help.contexts">
         <contexts file="help/help_contexts.xml">
         </contexts>
   </extension>
</plugin>
