<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.cdt.ui.CElementFilters">
      <filter
            class="org.sonar.ide.eclipse.internal.cdt.NonSonarProjectsFilter"
            id="org.sonar.ide.eclipse.internal.cdt.HideNonSonarProjects"
            name="Non-Sonar projects"
            description="Hides all projects without Sonar nature"
            enabled="false"
            targetId="org.eclipse.cdt.ui.CView">
      </filter>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.sonar.ide.eclipse.jdt.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         point="org.sonar.ide.eclipse.core.projectConfigurators">
      <configurator
            class="org.sonar.ide.eclipse.internal.cdt.CProjectConfigurator">
      </configurator>
   </extension>
   <extension
         point="org.sonar.ide.eclipse.core.resourceResolvers">
      <resolver
            class="org.sonar.ide.eclipse.internal.cdt.CResourceResolver">
      </resolver>
   </extension>

   <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
       <command
             commandId="org.sonar.ide.eclipse.internal.ui.command.ConfigureProjectsCommand"
             style="push">
          <visibleWhen>
              <with variable="activeMenuSelection">
                 <iterate ifEmpty="false">
                  <adapt type="org.eclipse.core.resources.IProject">
                      <not>
                          <test property="org.eclipse.core.resources.projectNature" value="org.sonar.ide.eclipse.core.sonarNature"/>
                      </not>
                      <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
                  </adapt>
                 </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
  </extension>
</plugin>
