<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="projectConfigurators" name="Project Configurators" schema="schema/projectConfigurators.exsd"/>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.core.resources.IResource"
               class="org.sonar.ide.eclipse.core.SonarElementsAdapterFactory">
         <adapter type="org.sonar.ide.eclipse.core.resources.ISonarResource"/>
      </factory>
      <factory adaptableType="org.eclipse.core.resources.IFile"
               class="org.sonar.ide.eclipse.core.SonarElementsAdapterFactory">
         <adapter type="org.sonar.ide.eclipse.core.resources.ISonarFile"/>
      </factory>
   </extension>

   <extension
         id="sonarNature"
         name="SonarQube Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.sonar.ide.eclipse.core.internal.SonarNature">
         </run>
      </runtime>
      <builder id="org.sonar.ide.eclipse.core.sonarQubeBuilder"/>
   </extension>

   <extension
        id="sonarProblem"
        name="SonarQube Issue"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="rulename">
      </attribute>
      <attribute
            name="rulekey">
      </attribute>
      <attribute
            name="is_new">
      </attribute>
   </extension>

   <extension
        id="sonarProblemNewIssue"
        name="New SonarQube Issue"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.sonar.ide.eclipse.core.sonarProblem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="rulename">
      </attribute>
      <attribute
            name="rulekey">
      </attribute>
      <attribute
            name="is_new">
      </attribute>
   </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
       <command
             commandId="org.sonar.ide.eclipse.ui.command.ConfigureProjectsCommand"
             style="push">
          <visibleWhen>
              <with variable="activeMenuSelection">
                 <iterate ifEmpty="false">
                  <adapt type="org.eclipse.core.resources.IProject">
                      <not>
                          <test property="org.eclipse.core.resources.projectNature" value="org.sonar.ide.eclipse.core.sonarNature"/>
                      </not>
                  </adapt>
                 </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
  </extension>
  
  <extension id="sonarQubeBuilder" name="SonarQube Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.sonar.ide.eclipse.core.internal.builder.SonarQubeBuilder">
            <parameter name="natureId" value="sonarNature"/>
         </run>
      </builder>
   </extension>
</plugin>
