<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="projectConfigurators" name="Project Configurators" schema="schema/projectConfigurators.exsd"/>

   <extension point="org.sonar.ide.eclipse.slf4j.pde.loggers">
      <loggerMapEntry regexp="^org\.sonar\.ide\.eclipse\.core.*"
        symbolicName="org.sonar.ide.eclipse.core"/>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.core.resources.IResource"
               class="org.sonar.ide.eclipse.core.SonarElementsAdapterFactory">
         <adapter type="org.sonar.ide.eclipse.core.resources.ISonarResource"/>
      </factory>
      <factory adaptableType="org.eclipse.core.resources.IFile"
               class="org.sonar.ide.eclipse.core.SonarElementsAdapterFactory">
         <adapter type="org.sonar.ide.eclipse.core.resources.ISonarFile"/>
      </factory>
   </extension>

   <extension
         point="org.sonar.ide.eclipse.core.projectConfigurators">
      <configurator
            class="org.sonar.ide.eclipse.core.internal.configurator.DefaultProjectConfigurator">
      </configurator>
   </extension>

   <extension
         id="sonarNature"
         name="SonarQube Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.sonar.ide.eclipse.core.internal.SonarNature">
         </run>
      </runtime>
   </extension>

   <extension
        id="sonarProblem"
        name="SonarQube Issue"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="rulename">
      </attribute>
      <attribute
            name="rulekey">
      </attribute>
      <attribute
            name="is_new">
      </attribute>
   </extension>

   <extension
        id="sonarProblemNewIssue"
        name="New SonarQube Issue"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.sonar.ide.eclipse.core.sonarProblem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="rulename">
      </attribute>
      <attribute
            name="rulekey">
      </attribute>
      <attribute
            name="is_new">
      </attribute>
   </extension>

</plugin>
