<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.sonar.ide.eclipse.m2e.SonarProjectConfigurator"
            id="org.sonar.ide.eclipse.m2e.configurator"
            name="Project Configurator for Sonar"
            secondaryTo="org.eclipse.m2e.jdt.javaConfigurator">
      </configurator>
   </extension>



</plugin>
