<?xml version="1.0" encoding="UTF-8"?>
<plugin>
     <extension
         point="org.sonarlint.eclipse.core.analysisConfigurator">
      <configurator
            class="org.sonarlint.eclipse.cdt.internal.CProjectConfiguratorExtension">
      </configurator>
   </extension>
     <extension
           point="org.sonarlint.eclipse.core.languageProvider">
        <provider
              class="org.sonarlint.eclipse.cdt.internal.CProjectConfiguratorExtension">
        </provider>
     </extension>
     <extension
         point="org.sonarlint.eclipse.core.syntaxHighlightingProvider">
      <enhancer
            class="org.sonarlint.eclipse.cdt.internal.CProjectConfiguratorExtension">
      </enhancer>
   </extension>
</plugin>
