<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
  <mirrors>
    <mirror>
      <id>sonarsource</id>
      <mirrorOf>*,!eclipse-orbit-R20230531010532,!eclipse-buildship-e424-releases-3x,!eclipse-releases-2022-06,!eclipse-releases-2024-03,!eclipse-buildship-e431-releases-3x,!eclipse-releases-latest,!eclipse-mylyn-releases,!eclipse-releases-2020-09,!eclipse-buildship-e417-releases-3x</mirrorOf>
      <name>Repox mirror for all repositories</name>
      <url>${env.SONARSOURCE_REPOSITORY_URL}</url>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>sonarsource</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Authorization</name>
            <value>Bearer ${env.ARTIFACTORY_ACCESS_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <!-- commons-build.target -->
    <server>
      <id>eclipse-orbit-R20230531010532</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <!-- latest-java-11_e424.target -->
    <server>
      <id>eclipse-buildship-e424-releases-3x</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <server>
      <id>eclipse-releases-2022-06</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <!-- latest-java-17_e431.target -->
    <server>
      <id>eclipse-releases-2024-03</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <server>
      <id>eclipse-buildship-e431-releases-3x</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <!-- latest-java-21.target -->
    <server>
      <id>eclipse-releases-latest</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <server>
      <id>eclipse-mylyn-releases</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <!-- oldest-java-11_e417.target -->
    <server>
      <id>eclipse-releases-2020-09</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
    <server>
      <id>eclipse-buildship-e417-releases-3x</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonarsource-repo</id>
      <activation>
        <property>
          <name>!skip-sonarsource-repo</name>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>sonarsource</id>
          <name>SonarSource Central Repository</name>
          <url>${env.SONARSOURCE_REPOSITORY_URL}</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <!-- commons-build.target -->
        <repository>
          <id>eclipse-orbit-R20230531010532</id>
          <name>SonarSource Eclipse Orbit 2023-05 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-orbit-R20230531010532</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <!-- latest-java-11_e424.target -->
        <repository>
          <id>eclipse-buildship-e424-releases-3x</id>
          <name>SonarSource Eclipse Buildship 4.24 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-buildship-e424-releases-3x</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>eclipse-releases-2022-06</id>
          <name>SonarSource Eclipse 2022-06 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-releases-2022-06/202206151000</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <!-- latest-java-17_e431.target -->
        <repository>
          <id>eclipse-releases-2024-03</id>
          <name>SonarSource Eclipse 2024-03 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-releases-2024-03/202403131000</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>eclipse-buildship-e431-releases-3x</id>
          <name>SonarSource Eclipse Buildship 4.31 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-buildship-e431-releases-3x</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <!-- latest-java-21.target -->
        <repository>
          <id>eclipse-releases-latest</id>
          <name>SonarSource Eclipse Latest Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-releases-latest</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>eclipse-mylyn-releases</id>
          <name>SonarSource Eclipse Mylyn releases Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-mylyn-releases</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <!-- oldest-java-11_e417.target -->
        <repository>
          <id>eclipse-releases-2020-09</id>
          <name>SonarSource Eclipse 2020-09 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-releases-2020-09/202009161000</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>eclipse-buildship-e417-releases-3x</id>
          <name>SonarSource Eclipse Buildship 4.17 Repository</name>
          <url>${env.ARTIFACTORY_URL}/eclipse-buildship-e417-releases-3x</url>
          <layout>p2</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>sonarsource</id>
          <name>SonarSource Central Repository</name>
          <url>${env.SONARSOURCE_REPOSITORY_URL}</url>
          <releases>
            <enabled>true</enabled>
            <!-- no need to always check if new versions are available when executing a Maven plugin without specifying the version -->
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <pluginGroups>
    <pluginGroup>com.gradle</pluginGroup>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
</settings>
