org.sonarlint.eclipse.runtime/META-INF/MANIFEST.MF  eol=crlf
org.sonarlint.eclipse.wsclient/META-INF/MANIFEST.MF eol=crlf

#Prevent Git on Windows to change LF to CRLF on this file
org.sonarlint.eclipse.core.tests/testdata/SimpleProject/src/main/java/ViolationOnFile.java eol=lf
