# Maven
target/

# Eclipse
.classpath
.project
.settings

# IntelliJ
*.iml
.idea/

# build products
org.sonarlint.eclipse.core/plugins/
org.sonarlint.eclipse.core/lib/
org.sonarlint.eclipse.ui/lib/

# macOS files
**/.DS_Store

# Integration tests
!/its/projects/connected/.project
