# WhiteSource agent configuration for sonarlint-eclipse

# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

# Note:
# The CI build pipeline will add values for the following arguments, so this file
# should not contain hard-coded values for them:
# - maven.m2RepositoryPath
# - maven.additionalArguments

# Exlude tests - only scan product code
excludes=**/*sources.jar **/*javadoc.jar its/** org.sonarlint.eclipse.core.tests/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.resolveDependencies=True
maven.runPreStep=False
maven.ignoredScopes=provided,test,system

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
