# WhiteSource agent configuration for sonarlint-eclipse
# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

# Exlude tests - only scan product code
excludes=**/*sources.jar **/*javadoc.jar its/** org.sonarlint.eclipse.core.tests/**
fileSystemScan=True
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.resolveDependencies=True
maven.runPreStep=False
maven.ignoredScopes=provided,test,system
maven.m2RepositoryPath=.m2/repository

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
productName=SonarLint/Eclipse
