<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="sonarlint-eclipse-its-milestones" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/I-builds/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/mylyn/snapshots/weekly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="http://download.eclipse.org/reddeer/releases/latest"/>
	<unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.reddeer.swt.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.reddeer.ui.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.reddeer.tests.feature.feature.group" version="0.0.0"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
