<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.sonarlint.eclipse.core.fileAdapterParticipant">
      <participant
            class="org.sonarlint.eclipse.m2e.internal.MavenModuleFilter">
      </participant>
   </extension>
   <extension
         point="org.sonarlint.eclipse.core.projectHierarchyProvider">
      <participant
            class="org.sonarlint.eclipse.m2e.internal.MavenModuleFilter">
      </participant>
   </extension>
</plugin>
