<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="sonarlint-ibuilds" sequenceNumber="3">
  <locations>
    <location type="Target" uri="file:${project_loc:/org.sonarlint.eclipse.its}/../target-platforms/commons-its.target" />
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0" />
      <unit id="org.eclipse.platform.ide" version="0.0.0" />
      <!-- Needed to build the test environment -->
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0" />
      <repository location="https://download.eclipse.org/eclipse/updates/I-builds/" />
    </location>
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0" />
      <repository location="https://download.eclipse.org/mylyn/snapshots/weekly/" />
    </location>
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="0.0.0" />
      <!-- Mirror of the defunct "https://download.eclipse.org/reddeer/releases/latest/" -->
      <repository location="https://repox.jfrog.io/artifactory/reddeer/releases/latest/" />
    </location>
    
    <!-- Reddeer requires GEF legacy-->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.gef" version="0.0.0" />
      <repository location="https://download.eclipse.org/tools/gef/updates/legacy/releases/" />
    </location>
    
    <!-- https://github.com/eclipse/reddeer/issues/2154 -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0" />
      <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-R/" />
    </location>
    
    <!-- Workaround for missing org.json -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.json" version="0.0.0" />
      <repository location="https://download.eclipse.org/releases/2022-06/" />
    </location>
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.buildship.feature.group" version="0.0.0" />
      <repository location="https://download.eclipse.org/buildship/updates/latest-snapshot/" />
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21" />
</target>