<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="sonarlint-latest-java-21" sequenceNumber="3">
  <locations>
    <location type="Target" uri="file:${project_loc:/org.sonarlint.eclipse.its}/../target-platforms/commons-its.target" />
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.cdt.feature.group" version="12.4.0.202603041756" />
      <unit id="org.eclipse.jdt.feature.group" version="3.20.500.v20260226-0420" />
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.10.100.20260205-1611" />
      <unit id="org.eclipse.mylyn.commons.feature.feature.group" version="4.10.0.v20260106-1815" />
      <unit id="org.eclipse.platform.ide" version="4.39.0.I20260226-0420" />
      <unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.4.500.v202307190318" />
      <unit id="org.eclipse.pde.feature.group" version="3.16.600.v20260226-0420" />
      <unit id="org.eclipse.wildwebdeveloper.embedder.node.feature.feature.group" version="1.2.3.202510292239" />
      <!-- Needed to build the test environment -->
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.3200.v20260203-2149" />
      <repository id="eclipse-releases-latest" location="https://repox.jfrog.io/artifactory/eclipse-releases-latest/" />
    </location>

    <!-- RSE was removed from Eclipse SimRel starting with 2026-03; pin it from the last release that included it -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rse.feature.group" version="4.5.700.202408061246" />
      <repository id="eclipse-releases-2025-12" location="https://repox.jfrog.io/artifactory/eclipse-releases-2025-12/202512101000" />
    </location>

    <!-- Workaround for missing org.json -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.json" version="1.0.0.v201011060100" />
      <repository id="eclipse-releases-2022-06" location="https://repox.jfrog.io/artifactory/eclipse-releases-2022-06/202206151000/" />
    </location>
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="4.7.1.83" />
      <unit id="org.eclipse.reddeer.ui.feature.feature.group" version="4.7.1.83" />
      <repository location="https://binaries.sonarsource.com/RedDeer/releases/4.7.1.83/" />
    </location>
    
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.buildship.feature.group" version="3.1.10.v20240802-1211" />
      <repository id="eclipse-buildship-e431-releases-3x" location="https://repox.jfrog.io/artifactory/eclipse-buildship-e431-releases-3x/3.1.10.v20240802-1211" />
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21" />
</target>