<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.jdt.core.IJavaProject"
               class="org.sonar.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
         <adapter type="org.sonar.wsclient.services.Resource"/>
      </factory>
   </extension>
</plugin>
