<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.core.runtime.adapters">
      <!-- used in HotspotsView -->
      <factory adaptableType="org.sonar.wsclient.services.Resource"
               class="org.sonar.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
         <adapter type="org.eclipse.core.resources.IFile"/>
      </factory>
      
      <factory adaptableType="org.eclipse.jdt.core.IJavaElement"
               class="org.sonar.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
      	 <adapter type="org.sonar.ide.eclipse.core.ISonarResource"/>
      </factory>
      <factory adaptableType="org.eclipse.core.resources.IResource"
               class="org.sonar.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
         <adapter type="org.sonar.ide.eclipse.core.ISonarResource"/>
      </factory>
   </extension>
</plugin>
