<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Extension points -->

   <extension-point id="resolver" name="sonar resolver" schema="schema/org.sonar.ide.eclipse.markers.resolver.exsd"/>

<!-- Extensions -->

  <extension point="org.eclipse.ui.preferencePages">
    <page
        class="org.sonar.ide.eclipse.preferences.SonarPreferencePage"
        id="org.sonar.ide.eclipse.preferences.SonarPreferencePage"
        name="%sonar.preference.page.name">
    </page>
    <page
          category="org.sonar.ide.eclipse.preferences.SonarPreferencePage"
          class="org.sonar.ide.eclipse.preferences.SonarConsolePreferencePage"
          id="org.sonar.ide.eclipse.preferences.SonarConsolePreferencePage"
          name="Console">
    </page>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
        class="org.sonar.ide.eclipse.preferences.PreferenceInitializer">
    </initializer>
  </extension>
  <extension point="org.eclipse.ui.views">
    <category
        name="%sonar.category.view.name"
        id="org.sonar.ide.eclipse">
    </category>
    <view
    	category="org.sonar.ide.eclipse"
    	class="org.sonar.ide.eclipse.views.MeasuresView"
    	icon="icons/sonar.png"
    	id="org.sonar.ide.eclipse.views.MeasuresView"
    	name="%sonar.measures.view.name">
    </view>
    <view
    	category="org.sonar.ide.eclipse"
    	class="org.sonar.ide.eclipse.views.HotspotsView"
    	icon="icons/sonar.png"
    	id="org.sonar.ide.eclipse.views.HotspotsView"
    	name="Hotspots">
    </view>
    <view
        category="org.sonar.ide.eclipse"
        class="org.sonar.ide.eclipse.views.ViolationsView"
        icon="icons/violations_view.gif"
        id="org.sonar.ide.eclipse.views.ViolationsView"
        name="%sonar.violation.view.name">
    </view>
    <view
          category="org.sonar.ide.eclipse"
          class="org.sonar.ide.eclipse.views.RemoteView"
          icon="icons/sonar.png"
          id="org.sonar.ide.eclipse.views.RemoteView"
          name="Web">
    </view>
  </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.sonar.ide.eclipse.views.ViolationsView">
         <!-- menu
               id="org.eclipse.ui.ide.problems.filtersMenu"
               label="Show">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.FiltersContribution"
                  id="org.eclipse.ui.ide.filtersContribution">
            </dynamic>
         </menu -->
         <!-- menu
               id="problemsGroupByMenu"
               label="Group By">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.GroupsContribution"
                  id="org.eclipse.ui.ide.dynamic1">
            </dynamic>
         </menu -->
         <menu
               id="org.eclipse.ui.ide.problems.markerSortMenu"
               label="Sort"
               mnemonic="%Menu.Sort.mnemonic">
         </menu>
         <command
               commandId="org.eclipse.ui.ide.configureFilters"
               mnemonic="%command.configureFilters.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.ide.configureColumns"
               mnemonic="%command.configureColumns.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               mnemonic="%command.preferences.mnemonic"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="org.eclipse.ui.ide.markers">
            </parameter>
         </command>
      </menuContribution>
  </extension>
  
  <extension 
      point="org.eclipse.ui.ide.markerSupport"> 
    <markerContentGenerator 
         id="org.sonar.ide.eclipse.markers.violationMarkerGenerator" 
         name="Sonar Violation Marker Generator"> 
        <markerTypeReference
             id="org.sonar.ide.eclipse.sonarProblem"/>
        <markerFieldReference
             id="org.sonar.ide.eclipse.views.violationRuleKeyField"
             visible="false"/>  
        <markerFieldReference
             id="org.sonar.ide.eclipse.views.violationRuleNameField"/>  
        <markerFieldReference
             id="org.sonar.ide.eclipse.views.violationRulePriorityField"/>        
        <markerFieldReference
             id="org.eclipse.ui.ide.resourceField"/>
        <markerFieldReference
             id="org.eclipse.ui.ide.descriptionField"/>
    </markerContentGenerator>
    <markerField 
        class="org.sonar.ide.eclipse.views.ViolationRuleNameField" 
        id="org.sonar.ide.eclipse.views.violationRuleNameField" 
        name="%sonar.violation.view.rulenamefield"> 
    </markerField> 
    <markerField 
        class="org.sonar.ide.eclipse.views.ViolationRuleKeyField" 
        id="org.sonar.ide.eclipse.views.violationRuleKeyField" 
        name="%sonar.violation.view.rulekeyfield"> 
    </markerField> 
    <markerField 
        class="org.sonar.ide.eclipse.views.ViolationRulePriorityField" 
        id="org.sonar.ide.eclipse.views.violationRulePriorityField" 
        name="%sonar.violation.view.rulepriorityfield"> 
    </markerField> 
  </extension>
  
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.sonar.ide.eclipse.wizcat" name="%sonar.category.wizard.name"/>
    <wizard
        canFinishEarly="true"
        category="org.sonar.ide.eclipse.wizcat"
        class="org.sonar.ide.eclipse.wizards.NewServerLocationWizard"
        descriptionImage="icons/sonar-large.gif"
        icon="icons/sonar.png"
        id="org.sonar.ide.eclipse.wizards.newserverlocationwizard"
        name="%sonar.wizard.newserverlocation.name ">
    </wizard>
  </extension>
  <extension
      point="org.eclipse.ui.propertyPages">
    <page
      objectClass="org.eclipse.core.resources.IProject"
       adaptable="true"
      class="org.sonar.ide.eclipse.properties.SonarProjectPropertyPage"
       id="org.sonar.ide.eclipse.properties.sonarProjectPropertyPage"
       name="%sonar.properties.page.name">
    </page>
  </extension>

  <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.runtime.IAdaptable"
            class="org.sonar.ide.eclipse.actions.SonarAdapterFactory">
         <adapter type="org.eclipse.ui.IActionFilter"/>
      </factory>
  </extension>

  <extension point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="org.sonar.ide.eclipse.contribution1"
           objectClass="org.eclipse.core.resources.IResource"
           adaptable="true">
        <visibility>
          <objectState name="nature" value="org.sonar.ide.eclipse.sonarNature"/>
        </visibility>   
        <menu
              icon="icons/sonar.png"
              id="org.sonar.ide.eclipse.sonar"
              label="%sonar.menu.label"
              path="additions">
           <separator
                 name="group1">
           </separator>
        </menu>
        <action
              class="org.sonar.ide.eclipse.actions.AutoConfigureProjectAction"
              enablesFor="+"
              id="org.sonar.ide.eclipse.autoConfigureProjectAction"
              label="%sonar.action.autoconfiguration.label"
              menubarPath="org.sonar.ide.eclipse.sonar/group1"
              state="true"
              style="push">
        </action>
        <action
              class="org.sonar.ide.eclipse.actions.OpenInBrowserAction"
              enablesFor="+"
              id="org.sonar.ide.eclipse.openInBrowserAction"
              label="%sonar.action.openinbrowser.label"
              menubarPath="org.sonar.ide.eclipse.sonar/group1"
              state="true"
              style="push"
              icon="icons/web.gif">
        </action>
        <action
              label="Sonar server"
              class="org.sonar.ide.eclipse.compare.CompareWithSonarAction"
              menubarPath="compareWithMenu/compareWithGroup"
              id="org.sonar.ide.eclipse.compareWithSonar"
              icon="icons/sonar.png">
        </action>
    </objectContribution>

	<!-- TODO just for testing purposes -->
    <objectContribution id="org.sonar.ide.eclipse.projectMenu"
        				adaptable="true"
        				objectClass="org.eclipse.core.resources.IProject">
		<visibility>
          <objectState name="nature" value="org.sonar.ide.eclipse.sonarNature"/>
        </visibility>
		<action id="org.sonar.ide.eclipse.addRemoveNatureAction"
                class="org.sonar.ide.eclipse.actions.ToggleNatureAction"
                enablesFor="+"
                label="Remove Sonar Nature"
                menubarPath="org.sonar.ide.eclipse.sonar/group1">
        </action>
    </objectContribution>
    
    <objectContribution id="org.sonar.ide.eclipse.objectContribution1"
                        adaptable="true"
                        objectClass="org.eclipse.core.resources.IProject">
      	<visibility>
        	<and>
          		<not>
            		<objectState name="nature" value="org.sonar.ide.eclipse.sonarNature"/>
          		</not>
          		<objectState name="nature" value="org.eclipse.jdt.core.javanature"/>
        	</and>
      	</visibility>
      	<!-- about this menubarPath see: https://bugs.eclipse.org/bugs/show_bug.cgi?id=231611 -->
      	<action id="org.sonar.ide.ui.ConvertedProjectWizard" 
        	    label="Associate with Sonar"
            	class="org.sonar.ide.eclipse.actions.ConfigureProjectsAction"
              	menubarPath="org.eclipse.ui.projectConfigure/additions"
              	enablesFor="+"
              	icon="icons/sonar.png">
      	</action>
	</objectContribution>
  </extension>
  
  <extension
        id="sonarProblem"
        name="sonar violation"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent	
            value="true">
      </persistent>
      <attribute
            name="rulename">
      </attribute>
      <attribute
            name="rulekey">
      </attribute>
   </extension>

   <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="org.sonar.ide.eclipse.violationAnnotationType"
            markerType="org.sonar.ide.eclipse.sonarProblem"/>
    </extension>

    <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
            annotationType="org.sonar.ide.eclipse.violationAnnotationType"
            annotationImageProvider="org.sonar.ide.eclipse.markers.SonarMarkerImageProvider"
            presentationLayer="5"
            label="%sonar.marker.specification.label"
            verticalRulerPreferenceKey="org.sonar.ide.eclipse.violation.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="org.sonar.ide.eclipse.violation.overviewruler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="org.sonar.ide.eclipse.violation.dropdown"
            showInNextPrevDropdownToolbarAction="true"
            isGoToPreviousNavigationTargetKey="org.sonar.ide.eclipse.violation.previous"
            isGoToPreviousNavigationTarget="true"
            isGoToNextNavigationTargetKey="org.sonar.ide.eclipse.violation.next"
            isGoToNextNavigationTarget="true"
            highlightPreferenceKey="org.sonar.ide.eclipse.violation.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="org.sonar.ide.eclipse.violation.error.text"
            textPreferenceValue="true"
            textStylePreferenceKey="org.sonar.ide.eclipse.violation.text.style"
            textStylePreferenceValue="BOX"
            colorPreferenceKey="org.sonar.ide.eclipse.violation.color"
            colorPreferenceValue="255,246,191"/>
    </extension>

   <extension point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory label="%sonar.consolefactory.label" icon="icons/sonar.png"
            class="org.sonar.ide.eclipse.console.SonarConsoleFactory"/>
   </extension>

   <extension point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.sonar.ide.eclipse.console.SonarConsolePageParticipant"
            id="org.sonar.ide.eclipse.launch.console.SonarConsolePageParticipant">
         <enablement>
            <instanceof value="org.sonar.ide.eclipse.console.SonarConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
     <actionSet
           id="org.sonar.ide.eclipse.actionSet"
           label="%actionSet.label"
           visible="true">
        <menu
              id="sonarMenu"
              label="%sonar.menu.label"
              path="project/additions">
        </menu>
        <action
              class="org.sonar.ide.eclipse.actions.AutoConfigureProjectAction"
              icon="icons/sonar.png"
              id="org.sonar.ide.eclipse.actions.AutoConfigureProjectAction"
              label="%sonar.action.allautoconiguration.label"
              menubarPath="project/additions"
              tooltip="%sonar.action.allautoconiguration.tooltip">
        </action>   
     </actionSet>
     <actionSet
           id="org.sonar.ide.eclipse.ui.menu.help"
           label="Feedback Helpers"
           visible="true">
        <action
              id="org.sonar.ide.eclipse.ui.SendFeedback"
              menubarPath="help/feedback"
              class="org.sonar.ide.eclipse.actions.SendFeedbackAction"
              label="Report Sonar Issue"
              icon="icons/sonar.png">
        </action>
     </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.sonar.ide.eclipse.perspectives.SonarPerspectiveFactory"
            icon="icons/sonar.png"
            id="org.sonar.ide.eclipse.perspectives.SonarPerspective"
            name="%sonar.perspective.name">
      </perspective>
   </extension>

  <!-- Welcome -->
  <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/overview.xml"/>
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/whatsnew.xml"/>
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="intro/tutorials.xml"/>
  </extension>

  <!-- Marker resolver -->
  <extension
        point="org.eclipse.ui.ide.markerResolution">
     <markerResolutionGenerator
           class="org.sonar.ide.eclipse.markers.SonarMarkerResolutionGenerator"
           markerType="org.sonar.ide.eclipse.sonarProblem">
     </markerResolutionGenerator>
  </extension>
  
  <extension
        point="org.sonar.ide.eclipse.resolver">
     <resolver
           class="org.sonar.ide.eclipse.markers.resolvers.IgnoreMarkerResolver">
     </resolver>
  </extension>
  
  <!-- Quick diff -->
  <extension
        point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
     <referenceprovider
            name="Sonar source"
            label="Sonar source"
           class="org.sonar.ide.eclipse.compare.SonarReferenceProvider"
           id="org.sonar.ide.eclipse.referenceprovider">
     </referenceprovider>
  </extension>

  <extension point="org.eclipse.core.resources.natures"
        id="sonarNature"
        name="Sonar Nature">
     <runtime>
        <run class="org.sonar.ide.eclipse.internal.builder.SonarNature"/>
     </runtime>
  </extension>

</plugin>
