<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension
         id="org.eclipse.mylyn.jira.repository"
         name="Sonar"
         point="org.eclipse.mylyn.tasks.ui.repositories">

		<connectorCore
            id="sonar"
            class="org.sonar.ide.eclipse.mylyn3.SonarConnector"
            name="Sonar Connector"/>
            	<connectorUi
         			brandingIcon="icons/eview16/jira-logo.gif"
         			class="org.sonar.ide.eclipse.mylyn3.SonarConnectorUi"
         			name="Sonar Connector UI"
         			overlayIcon="icons/eview16/overlay-jira.gif"/>            
	</extension>
</plugin>
