<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="projectConfigurators" name="Project Configurators" schema="schema/projectConfigurators.exsd"/>

   <extension
         id="sonarlintNature"
         name="SonarLint Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.sonarlint.eclipse.core.internal.SonarLintNature">
         </run>
      </runtime>
      <builder id="org.sonarlint.eclipse.core.sonarlintBuilder"/>
   </extension>

   <extension
        id="sonarlintProblem"
        name="SonarLint Issue"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="rulename">
      </attribute>
      <attribute
            name="rulekey">
      </attribute>
   </extension>

  <extension id="sonarlintBuilder" name="SonarLint Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.sonarlint.eclipse.core.internal.builder.SonarLintBuilder">
            <parameter name="natureId" value="sonarlintNature"/>
         </run>
      </builder>
   </extension>
</plugin>
