<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Extensions -->

  <extension point="org.eclipse.ui.preferencePages">
    <page
        class="org.sonarlint.eclipse.ui.internal.preferences.SonarLintPreferencePage"
        id="org.sonarlint.eclipse.ui.preferences.SonarPreferencePage"
        name="%sonar.preference.page.name">
        <keywordReference id="org.sonarlint.eclipse.ui.SonarLintKeyword"/>
    </page>
    <page
          category="org.sonarlint.eclipse.ui.preferences.SonarPreferencePage"
          class="org.sonarlint.eclipse.ui.internal.properties.SonarLintExtraArgumentsPreferenceAndPropertyPage"
          id="org.sonarlint.eclipse.ui.properties.SonarExtraArgumentsPreferenceAndPropertyPage"
          name="%sonar.preference.extraProps.page.name">
          <keywordReference id="org.sonarlint.eclipse.ui.SonarLintKeyword"/>
    </page>
  </extension>

  <extension
     point="org.eclipse.ui.keywords">
    <keyword
            label="sonar sonarqube sonarlint"
            id="org.sonarlint.eclipse.ui.SonarLintKeyword"/>
   </extension>
   
    
	<extension point="org.eclipse.ui.newWizards">
	  <category
	    id="org.sonarlint.eclipse"
	    name="%sonar.category.view.name"/>
	
	  <wizard
	      id="org.sonarlint.eclipse.ui.new.server"
	      name="New Server"
	      class="org.sonarlint.eclipse.ui.internal.server.wizard.NewServerLocationWizard"
	      category="org.sonarlint.eclipse"
	      icon="icons/onde-sonar-16.png">
	    <description>Connect to a new SonarQube server</description>
	  </wizard>
	</extension>
	
	<extension
      point="org.eclipse.ui.decorators">
   <decorator
         class="org.sonarlint.eclipse.ui.internal.server.ServerDecorator"
         icon="icons/onde-sonar-16.png"
         id="org.sonarlint.eclipse.ui.navigatorDecorator"
         label="SonarLint Server State Decorator"
         lightweight="true"
         location="BOTTOM_RIGHT"
         state="true">
      <enablement>
          <or>
            <objectClass
                  name="org.sonarlint.eclipse.core.internal.server.IServer">
            </objectClass>
            <objectClass
                  name="org.sonarlint.eclipse.core.internal.resources.SonarLintProject">
            </objectClass>
          </or>
      </enablement>
   </decorator>
</extension>

  <extension point="org.eclipse.ui.views">
    <category
        name="%sonar.category.view.name"
        id="org.sonarlint.eclipse">
    </category>
    <view
        allowMultiple="false"
        category="org.sonarlint.eclipse"
        class="org.sonarlint.eclipse.ui.internal.views.issues.IssuesView"
        icon="icons/sonarlint-16x16.png"
        id="org.sonarlint.eclipse.ui.views.issues.IssuesView"
        name="%sonar.issues.view.name">
    </view>
    <view
        allowMultiple="false"
        category="org.sonarlint.eclipse"
        class="org.sonarlint.eclipse.ui.internal.views.issues.ChangeSetIssuesView"
        icon="icons/sonarlint-16x16.png"
        id="org.sonarlint.eclipse.ui.views.issues.ChangeSetIssuesView"
        name="%sonar.changesetissues.view.name">
    </view>
    <view
	        allowMultiple="false"
          category="org.sonarlint.eclipse"
          class="org.sonarlint.eclipse.ui.internal.views.RuleDescriptionWebView"
          icon="icons/sonarlint-16x16.png"
          id="org.sonarlint.eclipse.ui.views.RuleDescriptionWebView"
          name="SonarLint Rule Description">
    </view>
    <view
	        allowMultiple="false"
	        category="org.sonarlint.eclipse"
	        class="org.sonarlint.eclipse.ui.internal.server.ServersView"
	        icon="icons/onde-sonar-16.png"
	        id="org.sonarlint.eclipse.ui.ServersView"
	        name="SonarQube Servers">
	  </view>
  </extension>
  
  <extension point="org.eclipse.ui.contexts">
	  <context
	    id="org.eclipse.ui.sonarlintServerViewScope"
	    name="In SonarLint Servers View"
	    description="In SonarLint Servers View"
	    parentId="org.eclipse.ui.contexts.window">
	  </context>
	</extension>
	
	<extension
      point="org.eclipse.ui.navigator.navigatorContent">
	   <navigatorContent
	         activeByDefault="true"
	         contentProvider="org.sonarlint.eclipse.ui.internal.server.ServerContentProvider"
	         icon="icons/onde-sonar-16.png"
	         id="org.sonarlint.eclipse.ui.ServersView.content.root"
	         labelProvider="org.sonarlint.eclipse.ui.internal.server.ServerLabelProvider"
	         name="Server Provider"
	         priority="highest">
	      <triggerPoints>
	         <or>
	            <instanceof
	                  value="org.sonarlint.eclipse.core.internal.server.IServer">
	            </instanceof>
	            <instanceof
	                  value="org.sonarlint.eclipse.core.internal.resources.SonarLintProject">
	            </instanceof>
	         </or>
	      </triggerPoints>
	      <possibleChildren>
	         <or>
	            <instanceof
	                  value="java.lang.Object">
	            </instanceof>
	            <instanceof
	                  value="org.sonarlint.eclipse.core.internal.resources.SonarLintProject">
	            </instanceof>
	         </or>
	      </possibleChildren>
			  <actionProvider
			            class="org.sonarlint.eclipse.ui.internal.server.ServerActionProvider"
			            id="org.sonarlint.eclipse.ui.ServersView.ServerActionProvider"
			            priority="highest">
					<enablement>
		             <or>
		                <instanceof
		                      value="org.sonarlint.eclipse.core.internal.server.IServer">
		                </instanceof>
		                <instanceof
		                      value="org.sonarlint.eclipse.core.internal.resources.SonarLintProject">
		                </instanceof>
		                <instanceof
		                      value="org.eclipse.core.resources.IWorkspaceRoot">
		                </instanceof>
		               <adapt
		                     type="java.util.Collection">
		                  <count
		                        value="0">
		                  </count>
		               </adapt>
		             </or>
		            </enablement>
			  </actionProvider>      
	   </navigatorContent>
	</extension>
	
	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.sonarlint.eclipse.ui.ServersView">
	      <includes>
	         <contentExtension
	               isRoot="true"
	               pattern="org.sonarlint.eclipse.ui.ServersView.content.root">
	         </contentExtension>
	      </includes>
	   </viewerContentBinding>
		<viewer
	       viewerId="org.sonarlint.eclipse.ui.ServersView">
			<options>
				<property name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
					value="true">
				</property>
			</options>
		</viewer>
	</extension>

  <extension
      point="org.eclipse.ui.ide.markerSupport">
    <markerContentGenerator
         id="org.sonarlint.eclipse.ui.views.issues.issueMarkerGenerator"
         name="SonarLint Issue Marker Generator">
        <markerTypeReference
              id="org.sonarlint.eclipse.core.sonarlintProblem"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueCreationDateField"
              visible="true"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueDescriptionField"
              visible="true"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueRuleKeyField"
              visible="false"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueRuleNameField"
              visible="false"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.serverIssueKeyField"
              visible="false"/>
        <markerFieldReference
              id="org.eclipse.ui.ide.resourceField"
              visible="true"/>
        <markerFieldReference
              id="org.eclipse.ui.ide.pathField"
              visible="false"/>
        <!-- Default Filtering -->
        <markerFieldConfiguration
              enabled="true"
              id="org.sonarlint.eclipse.ui.issues.allIssuesOnSelectionFiltering"
              name="All Issues on Selection"
              scope="ON_SELECTED_AND_CHILDREN">
        </markerFieldConfiguration>

      <markerGrouping
            id="org.sonarlint.eclipse.ui.issues.severityGrouping"
            label="Severity">
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.blocker"
               label="Blocker"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="5">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.critical"
               label="Critical"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="4">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.major"
               label="Major"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="3">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.minor"
               label="Minor"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="2">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.info"
               label="Info"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="1">
         </markerGroupingEntry>
         <markerAttributeGrouping
               attribute="sonarseverity"
               markerType="org.sonarlint.eclipse.core.sonarlintProblem">
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.blocker"
                  value="BLOCKER">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.critical"
                  value="CRITICAL">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.major"
                  value="MAJOR">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.minor"
                  value="MINOR">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.info"
                  value="INFO">
            </markerAttributeMapping>
         </markerAttributeGrouping>
      </markerGrouping>
    </markerContentGenerator>
    <markerContentGenerator
         id="org.sonarlint.eclipse.ui.views.issues.changeSetIssueMarkerGenerator"
         name="SonarLint ChangeSet Issue Marker Generator">
        <markerTypeReference
              id="org.sonarlint.eclipse.core.sonarlintChangeSetProblem"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueCreationDateField"
              visible="true"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueDescriptionField"
              visible="true"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueRuleKeyField"
              visible="false"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.issueRuleNameField"
              visible="false"/>
        <markerFieldReference
              id="org.sonarlint.eclipse.ui.views.issues.serverIssueKeyField"
              visible="false"/>
        <markerFieldReference
              id="org.eclipse.ui.ide.resourceField"
              visible="true"/>
        <markerFieldReference
              id="org.eclipse.ui.ide.pathField"
              visible="false"/>
        <!-- Default Filtering -->
        <markerFieldConfiguration
              enabled="true"
              id="org.sonarlint.eclipse.ui.issues.allIssuesOnChangeSet"
              name="All Issues on Changed Files"
              scope="ON_ANY">
        </markerFieldConfiguration>

      <markerGrouping
            id="org.sonarlint.eclipse.ui.issues.severityGrouping"
            label="Severity">
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.blocker"
               label="Blocker"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="5">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.critical"
               label="Critical"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="4">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.major"
               label="Major"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="3">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.minor"
               label="Minor"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="2">
         </markerGroupingEntry>
         <markerGroupingEntry
               id="org.sonarlint.eclipse.ui.issues.severityGrouping.info"
               label="Info"
               markerGrouping="org.sonarlint.eclipse.ui.issues.severityGrouping"
               priority="1">
         </markerGroupingEntry>
         <markerAttributeGrouping
               attribute="sonarseverity"
               markerType="org.sonarlint.eclipse.core.sonarlintProblem">
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.blocker"
                  value="BLOCKER">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.critical"
                  value="CRITICAL">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.major"
                  value="MAJOR">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.minor"
                  value="MINOR">
            </markerAttributeMapping>
            <markerAttributeMapping
                  markerGroupingEntry="org.sonarlint.eclipse.ui.issues.severityGrouping.info"
                  value="INFO">
            </markerAttributeMapping>
         </markerAttributeGrouping>
      </markerGrouping>
    </markerContentGenerator>
    <markerField
        class="org.sonarlint.eclipse.ui.internal.views.issues.IssueDescriptionField"
        filterClass="org.eclipse.ui.internal.views.markers.DescriptionFieldFilter"
        filterConfigurationClass="org.eclipse.ui.internal.views.markers.DescriptionConfigurationArea"
        id="org.sonarlint.eclipse.ui.views.issues.issueDescriptionField"
        name="Description">
    </markerField>
    <markerField
        class="org.sonarlint.eclipse.ui.internal.views.issues.IssueRuleNameField"
        id="org.sonarlint.eclipse.ui.views.issues.issueRuleNameField"
        name="Rule name">
    </markerField>
    <markerField
        class="org.sonarlint.eclipse.ui.internal.views.issues.IssueRuleKeyField"
        id="org.sonarlint.eclipse.ui.views.issues.issueRuleKeyField"
        name="%sonar.issues.view.rulekeyfield">
    </markerField>
    <markerField
        class="org.sonarlint.eclipse.ui.internal.views.issues.CreationDateField"
        id="org.sonarlint.eclipse.ui.views.issues.issueCreationDateField"
        name="Date">
    </markerField>
    <markerField
        class="org.sonarlint.eclipse.ui.internal.views.issues.ServerIssueKeyField"
        id="org.sonarlint.eclipse.ui.views.issues.serverIssueKeyField"
        name="%sonar.issues.view.serverissuekeyfield">
    </markerField>

    <markerTypeCategory
          name="SonarLint">
       <markerTypeReference id="org.sonarlint.eclipse.core.sonarlintProblem">
       </markerTypeReference>
    </markerTypeCategory>
  </extension>

  <extension
      point="org.eclipse.ui.propertyPages">
    <page
      class="org.sonarlint.eclipse.ui.internal.properties.SonarProjectPropertyPage"
       id="org.sonarlint.eclipse.ui.properties.sonarProjectPropertyPage"
       name="%sonar.properties.page.name">
       <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject"/>
       </enabledWhen>
    </page>
    <page
      class="org.sonarlint.eclipse.ui.internal.properties.SonarLintExtraArgumentsPreferenceAndPropertyPage"
       id="org.sonarlint.eclipse.ui.properties.SonarExtraArgumentsPreferenceAndPropertyPage"
       category="org.sonarlint.eclipse.ui.properties.sonarProjectPropertyPage"
       name="%sonar.preference.extraProps.page.name">
       <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject"/>
       </enabledWhen>
    </page>
  </extension>

  <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.sonarlint.eclipse.ui.views.issues.IssuesView">
         <menu
           id="org.eclipse.ui.ide.problems.filtersMenu"
           label="Show"
           mnemonic="S">
         </menu>
     <menu
           id="problemsGroupByMenu"
           label="Group By"
           mnemonic="G">
         </menu>
         <menu
               id="org.eclipse.ui.ide.problems.markerSortMenu"
               label="Sort By"
               mnemonic="S">
         </menu>
         <command
               commandId="org.eclipse.ui.ide.configureFilters"
               mnemonic="%command.configureFilters.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.ide.configureColumns"
               mnemonic="%command.configureColumns.mnemonic"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.sonarlint.eclipse.ui.views.issues.IssuesView">
           <command
                 commandId="org.sonarlint.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
                 style="push"
                 mnemonic="R">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.sonarlint.eclipse.ui.views.issues.ChangeSetIssuesView">
           <command
                 commandId="org.sonarlint.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
                 style="push"
                 mnemonic="R">
         </command>
      </menuContribution>
	<menuContribution locationURI="popup:sonar.menu?after=group1">
	   <command
	         commandId="org.sonarlint.eclipse.ui.internal.command.AnalyzeCommand"
	         style="push">
	      <visibleWhen>
	         <with variable="activeMenuSelection">
	            <iterate ifEmpty="false">
	              <and>
		              <or>
								    <adapt type="org.eclipse.core.resources.IFile"/>
								    <adapt type="org.eclipse.core.resources.IResource">
					      			<instanceof value="org.eclipse.core.resources.IFile"/>
					    			</adapt>
					  			</or>
                 	<test property="org.sonarlint.eclipse.core.isAutoAnalysis" value="false"/>
				  			</and>
	            </iterate>
	         </with>
	      </visibleWhen>
	   </command>
	   <command
	         commandId="org.sonarlint.eclipse.ui.internal.command.AnalyzeChangeSetCommand"
	         style="push">
	      <visibleWhen>
	         <with variable="activeMenuSelection">
	            <iterate ifEmpty="false">
	              <and>
							    <adapt type="org.eclipse.core.resources.IResource"/>
				  			</and>
	            </iterate>
	         </with>
	      </visibleWhen>
	   </command>
	   <command
             commandId="org.sonarlint.eclipse.ui.internal.command.BindProjectsCommand"
             style="push">
          <visibleWhen>
              <with variable="activeMenuSelection">
                 <iterate ifEmpty="false">
                   <and>
                 	   <adapt type="org.eclipse.core.resources.IProject"/>
                 	   <test property="org.sonarlint.eclipse.core.isBound" value="false"/>
                 	 </and>
                 </iterate>
             </with>
          </visibleWhen>
       </command>
      <command
             commandId="org.sonarlint.eclipse.ui.internal.command.ChangeProjectsBindingCommand"
             style="push">
          <visibleWhen>
              <with variable="activeMenuSelection">
                 <iterate ifEmpty="false">
                   <and>
                 	   <adapt type="org.eclipse.core.resources.IProject"/>
                 	   <test property="org.sonarlint.eclipse.core.isBound" value="true"/>
                 	 </and>
                 </iterate>
             </with>
          </visibleWhen>
       </command>
       <command
             commandId="org.sonarlint.eclipse.ui.internal.command.UnbindProjectsCommand"
             style="push">
          <visibleWhen>
              <with variable="activeMenuSelection">
                 <iterate ifEmpty="false">
                   <and>
                 	   <adapt type="org.eclipse.core.resources.IProject"/>
                 	   <test property="org.sonarlint.eclipse.core.isBound" value="true"/>
                 	 </and>
                 </iterate>
             </with>
          </visibleWhen>
       </command>
	</menuContribution>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <category
          description="SonarLint commands"
          id="org.sonarlint.eclipse.ui.command.category"
          name="SonarLint">
    </category>
    <command
          description="Show rule details"
          id="org.sonarlint.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
          name="Rule description"
          categoryId="org.sonarlint.eclipse.ui.command.category">
    </command>
    <command
          description="Analyze with SonarLint"
          id="org.sonarlint.eclipse.ui.internal.command.AnalyzeCommand"
          name="Analyze"
          categoryId="org.sonarlint.eclipse.ui.command.category">
    </command>
    <command
          description="Analyze changed files with SonarLint"
          id="org.sonarlint.eclipse.ui.internal.command.AnalyzeChangeSetCommand"
          name="Analyze changed files"
          categoryId="org.sonarlint.eclipse.ui.command.category">
    </command>
    <command
          description="Bind to a SonarQube project"
          id="org.sonarlint.eclipse.ui.internal.command.BindProjectsCommand"
          name="Bind to a SonarQube project..."
          categoryId="org.sonarlint.eclipse.ui.command.category">
    </command>
    <command
          description="Change binding configuration"
          id="org.sonarlint.eclipse.ui.internal.command.ChangeProjectsBindingCommand"
          name="Change binding..."
          categoryId="org.sonarlint.eclipse.ui.command.category">
    </command>
    <command
          description="Unbind selected projects"
          id="org.sonarlint.eclipse.ui.internal.command.UnbindProjectsCommand"
          name="Unbind project"
          categoryId="org.sonarlint.eclipse.ui.command.category">
    </command>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
          class="org.sonarlint.eclipse.ui.internal.command.ShowRuleDescriptionCommand"
          commandId="org.sonarlint.eclipse.ui.internal.command.ShowRuleDescriptionCommand">
    </handler>
    <handler
          class="org.sonarlint.eclipse.ui.internal.command.AnalyzeCommand"
          commandId="org.sonarlint.eclipse.ui.internal.command.AnalyzeCommand">
    </handler>
    <handler
          class="org.sonarlint.eclipse.ui.internal.command.BindProjectsCommand"
          commandId="org.sonarlint.eclipse.ui.internal.command.BindProjectsCommand">
    </handler>
    <handler
          class="org.sonarlint.eclipse.ui.internal.command.BindProjectsCommand"
          commandId="org.sonarlint.eclipse.ui.internal.command.ChangeProjectsBindingCommand">
    </handler>
    <handler
          class="org.sonarlint.eclipse.ui.internal.command.UnbindProjectsCommand"
          commandId="org.sonarlint.eclipse.ui.internal.command.UnbindProjectsCommand">
    </handler>
    <handler
          class="org.sonarlint.eclipse.ui.internal.command.AnalyzeChangeSetCommand"
          commandId="org.sonarlint.eclipse.ui.internal.command.AnalyzeChangeSetCommand">
    </handler>
  </extension>

  <extension point="org.eclipse.ui.commandImages">
    <image
      commandId="org.sonarlint.eclipse.ui.internal.command.AnalyzeCommand"
      icon="icons/sonarlint-run-16x16.png" />
    <image
      commandId="org.sonarlint.eclipse.ui.internal.command.AnalyzeChangeSetCommand"
      icon="icons/sonarlint-run-16x16.png" />
    <image
      commandId="org.sonarlint.eclipse.ui.internal.command.BindProjectsCommand"
      icon="icons/synced.gif" />
    <image
      commandId="org.sonarlint.eclipse.ui.internal.command.ChangeProjectsBindingCommand"
      icon="icons/synced.gif" />
  </extension>

   <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="org.sonarlint.eclipse.issueAnnotationType"
            markerType="org.sonarlint.eclipse.core.sonarlintProblem"/>
    </extension>
    
    <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="org.sonarlint.eclipse.changeSetIssueAnnotationType"
            markerType="org.sonarlint.eclipse.core.sonarlintChangeSetProblem"/>
    </extension>

    <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
              annotationImageProvider="org.sonarlint.eclipse.ui.internal.markers.SonarLintMarkerImageProvider"
              annotationType="org.sonarlint.eclipse.issueAnnotationType"
              colorPreferenceKey="org.sonarlint.eclipse.ui.issue.color"
              colorPreferenceValue="30,144,255"
              highlightPreferenceKey="org.sonarlint.eclipse.ui.issue.highlight"
              highlightPreferenceValue="false"
              icon="icons/onde-sonar-16.png"
              isGoToNextNavigationTarget="true"
              isGoToNextNavigationTargetKey="org.sonarlint.eclipse.issue.next"
              isGoToPreviousNavigationTarget="true"
              isGoToPreviousNavigationTargetKey="org.sonarlint.eclipse.issue.previous"
              label="%sonar.marker.specification.label"
              overviewRulerPreferenceKey="org.sonarlint.eclipse.ui.issue.overviewruler"
              overviewRulerPreferenceValue="true"
              presentationLayer="3"
              showInNextPrevDropdownToolbarAction="true"
              showInNextPrevDropdownToolbarActionKey="org.sonarlint.eclipse.issue.dropdown"
              textPreferenceKey="org.sonarlint.eclipse.ui.issue.error.text"
              textPreferenceValue="true"
              textStylePreferenceKey="org.sonarlint.eclipse.ui.issue.text.style"
              textStylePreferenceValue="SQUIGGLES"
              verticalRulerPreferenceKey="org.sonarlint.eclipse.ui.issue.verticalruler"
              verticalRulerPreferenceValue="false"/>
  </extension>

  <extension
        point="org.eclipse.ui.console.consoleFactories">
     <consoleFactory
           class="org.sonarlint.eclipse.ui.internal.console.SonarLintConsoleFactory"
           icon="icons/sonarlint-16x16.png"
           label="%consoleFactory.label">
     </consoleFactory>
  </extension>

  <extension
        point="org.eclipse.ui.console.consolePageParticipants">
     <consolePageParticipant
           class="org.sonarlint.eclipse.ui.internal.console.SonarLintConsolePageParticipant"
           id="org.sonarlint.eclipse.ui.consolePageParticipant1">
        <enablement>
           <instanceof value="org.sonarlint.eclipse.ui.internal.console.SonarLintConsole" />
        </enablement>
     </consolePageParticipant>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              icon="icons/sonarlint-16x16.png"
              id="sonar.menu"
              label="%sonar.menu.label">
           <separator
                 name="group1">
           </separator>
           <menu
                 id="mode"
                 label="Mode">
              <separator
                    name="group1">
              </separator>
           </menu>
           <separator
                 name="group2">
           </separator>
           <separator
                 name="group3"
                 visible="true">
           </separator>
        </menu>
     </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.decorators">  
	  <decorator 
	     id="org.sonarlint.eclipse.ui.sonarlintDecorator"
       label="%sonarlint.decorator.name"
	     state="true"  
	     class="org.sonarlint.eclipse.ui.internal.SonarLintProjectDecorator"  
	     lightweight="true"  
	     location="TOP_RIGHT">
	     <description>%sonarlint.decorator.description</description>
	     <enablement>
	       <or> 
	         <objectClass name="org.eclipse.core.resources.IProject"/>
	         <objectClass name="org.eclipse.core.runtime.IAdaptable"/>
	       </or>  
	     </enablement>  
	  </decorator>
  </extension>
  
	
</plugin>
