<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="sonar-ide-e36">
<locations>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.wst.common.emf" version="1.2.3.v201012100400"/>
<unit id="org.eclipse.wst.sse.core" version="1.1.504.v201102160550"/>
<unit id="org.eclipse.wst.xml.core" version="1.1.503.v201102102045"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.2.0.v20100519-2050-67918COKNHAKQZIHNTdWQTdUL7UM"/>
<unit id="org.eclipse.wst.sse.ui" version="1.2.3.v201102102045"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.wst.xsd.core" version="1.1.503.v201011121919"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.2.3.v201102160541-7O7CFbWEMf84qYjGDyP3DNEwcgFU"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site/"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://download.eclipse.org/mylyn/releases/latest/"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jcl" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.log4j" version="1.6.1.v20100831-0715"/>
<unit id="com.google.collect" version="1.0.0.v201105210816"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201005080502"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.collections" version="3.2.0.v201005080500"/>
<unit id="org.apache.commons.beanutils" version="1.7.0.v200902170505"/>
<unit id="org.mockito" version="1.8.4.v201102171835"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository"/>
</location>

</locations>
</target>
