<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.sonarlint.eclipse.core.fileAdapterParticipant">
      <participant
            class="org.sonarlint.eclipse.jdt.internal.JavaProjectConfiguratorExtension">
      </participant>
   </extension>
   <extension
         point="org.sonarlint.eclipse.core.analysisConfigurator">
      <configurator
            class="org.sonarlint.eclipse.jdt.internal.JavaProjectConfiguratorExtension">
      </configurator>
   </extension>
   <extension
         point="org.sonarlint.eclipse.core.typeProvider">
      <provider
            class="org.sonarlint.eclipse.jdt.internal.JavaProjectConfiguratorExtension">
      </provider>
   </extension>
</plugin>
