<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Extensions -->

   <extension point="org.sonar.ide.eclipse.slf4j.pde.loggers">
      <loggerMapEntry regexp="^org\.sonar\.ide\.eclipse\.wsclient.*"
        symbolicName="org.sonar.ide.eclipse.wsclient"/>
   </extension>
</plugin>
