<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="sonar-eclipse-e43-dev" sequenceNumber="39">
<locations>
<location path="${M2_REPO}/com/googlecode/json-simple/json-simple/1.1.1" type="Directory"/>
<location path="${M2_REPO}/org/apache/httpcomponents/httpcore-osgi/4.2.2" type="Directory"/>
<location path="${M2_REPO}/org/codehaus/sonar/sonar-ws-client/3.5-RC2" type="Directory"/>
<location path="${M2_REPO}/commons-codec/commons-codec/1.7" type="Directory"/>
<location path="${M2_REPO}/commons-io/commons-io/2.4" type="Directory"/>
<location path="${M2_REPO}/org/slf4j/slf4j-api/1.6.6" type="Directory"/>
<location path="${M2_REPO}/com/google/guava/guava/13.0.1" type="Directory"/>
<location path="${M2_REPO}/org/apache/httpcomponents/httpclient-osgi/4.2.2" type="Directory"/>
<location path="${M2_REPO}/commons-lang/commons-lang/2.6" type="Directory"/>
<location path="${M2_REPO}/org/slf4j/jcl-over-slf4j/1.6.6" type="Directory"/>
<location path="${M2_REPO}/org/mockito/mockito-all/1.9.5" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.builds.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.reviews.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.python.pydev.feature.feature.group" version="0.0.0"/>
<repository location="http://pydev.org/updates"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
